button {
    position: relative;
    top: 50px;
}

.turn {
    position: absolute;
    left: 50%;
    top: 200%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 60%;
    text-align: center;
}