button {
    position: relative;
    top: 50px;
}

.turn {
    position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
border: 5px solid #FFFF00;
padding: 10px;
width: 60%;
    text-align: center;
}