/* Used to display the rows of cards horizontally */
.bottom-grid {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  position: relative;
  top: 175px;
}

.top-grid {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
}

/* Styling for each card in the row */
.bottom-grid > div {
  border: black dashed;
  margin-left: 10px;
  margin-right: 10px;
  height: 200px;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

.top-grid > div {
  padding: 5px;
  border-radius: 10px;
  border: black dashed;
  margin-left: 10px;
  margin-right: 10px;
  height: 200px;
  text-align: center;
}

/* Used to display the row of cards vertically */
.left-grid {
  display: grid;
  grid-template-rows: 11% 11% 11% 11% 11% 11% 11% 11% 11%
}

/* Styling for each card in the row */
.left-grid > div {
  padding: 5px;
  border-radius: 10px;
  border: black dashed;
  margin-left: 10px;
  margin-right: 10px;
  height: 200px;
  text-align: center;
  width: 160px;
}

.right-grid > div {
  padding: 5px;
  border-radius: 10px;
  width: 160px;
  border: black dashed;
  margin-left: 10px;
  margin-right: 10px;
  height: 200px;
  text-align: center;
}

.right-grid {
  display: grid;
  grid-template-rows: 11% 11% 11% 11% 11% 11% 11% 11% 11%;
  position: absolute;
  right: 0;
  top: 225px;
}